<div>
  <p class="com_header">
    <span> <%= link_to show_nickname_comments(comment), comment.user %> </span>
    <em> • <%= l comment.created_at, format: :short %></em>
    <% if current_user == comment.user %>
        <%= link_to(
                fa_icon('trash'), book_comment_path(comment.book, comment),
                method: :delete, data: {confirm: 'Удалить комментарий?'}
            ) %>
    <% end %>
  </p>
  <p class="well" style="padding: 5px;"><%= comment.body %></p>
</div>

