<div class="row" style="margin-bottom: 10px;">

  <div class="col-md-1">
    <%= image_tag cover_picture_thumb(book), class: 'thumbs' %>
  </div>

  <div class="col-md-6" style="margin-left: 10px">
    <h3><%= link_to book.title, book_path(book) %></h3>
    <%= book.author %>
  </div>


</div>
