<% if !@books.present? && !@results.present? %>
    <h2> Поиск не дал результатов </h2>
<% end %>

<% if @results.present? %>
    <h3>Результаты поиска по запросу <em>"<%= params[:query] %>"</em></h3>
    <%= render partial: 'books/book', collection: @results %>
<% end %>


<% if @books.present? %>

    <h2 style="text-align: center">Книги на сайте</h2>

    <div class="row">
      <%= render partial: 'books/book', collection: @books %>
    </div>
<% end %>