<li><%= link_to wish.book.title, wish.book %>
  <% if current_user == wish.user %>
      <%= link_to(
              fa_icon('trash'), book_book_user_path(wish.book, wish),
              method: :delete, data: {confirm: 'Удалить книгу из списка?'}) %>
  <% end %>
</li>
