/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    margin-bottom: 0
}
.powered{
    margin-left: 2%;
}

.cover_picture{
    border-radius: 5%;
    width: 300px;
    height: auto
}

.book_title{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px
}
hr {
    border: none;
    background-color: #4b4f43;
    color: #4b4f43;
    height: 2px;
}
.com_body_right{
   /* border-right: 1px solid #0001ff;*/
    padding: 5px;
}

.com_header{
    font-size: 12px;
    margin-bottom: 0px;
}
.thumbs{
    border-radius: 5%;
}

.avatar_thumbs{
    height: 30px;
    width: auto;
    border-radius: 5%;
}

.profile_avatar{
    border-radius: 5%;
    width: 250px;
    height: auto;
    border: 2px solid #e7e7e7;

}
